{% extends 'base.html' %}

{% block content %}

  <!-- Main Content -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="container m-12">  
          <div id="estadoFormContainer" style="display: none;">
            <div class="container">
            <form id="productoForm" action="" method="POST">
                {% csrf_token %}
                {% if error %}
                    <div class="alert alert-danger">
                        <h2>{{ error }}</h2>
                    </div>
                {% endif %}
               
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    {% if estadoFuncion == 'editar' %}
                                        <h3 class="mb-0">Editar Producto</h3>
                                    {% else %}
                                        <h3 class="mb-0">Agregar Producto</h3>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                  <div class="form-group row">
                                    <div class="col-md-11">
                                      <label for="{{ Municipio_Form.nombre.id_for_label }}" class="form-label">Municipio</label>
                                    <input type="text" name="{{ Municipio_Form.nombre.name }}" id="{{ Municipio_Form.nombre.id_for_label }}" class="form-control" value="{{ Municipio_Form.nombre.value|default_if_none:'' }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-md-10">
                                      <label for="{{ Municipio_Form.id_estado.id_for_label }}" class="form-label">Estado</label>
                                      <select name="{{ Municipio_Form.id_estado.name }}" id="{{ Municipio_Form.id_estado.id_for_label }}" class="form-control">
                                        {% for value, display in Municipio_Form.id_estado.field.choices %}
                                            <option value="{{ value }}" {% if value == Municipio_Form.id_estado.value %}selected{% endif %}>{{ display }}</option>
                                        {% endfor %}
                                    </select>
                                    
                                  </div>
                                  <div class="col-md-1 d-flex align-items-end">
                                      <a href="{% url 'estado_create' %}" target="_blank" class="btn btn-primary ml-1">
                                          <i class="fas fa-plus"></i> <!-- Icono de Bootstrap para el botón -->
                                      </a>
                                  </div>
                              </div>
                              
                                    <!-- Otros campos del formulario -->
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-success">
                                            {% if estadoFuncion == 'editar' %}
                                                Actualizar
                                            {% else %}
                                                Guardar
                                            {% endif %}
                                        </button>
                                        <a href="{% url 'municipio_create' %}" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      
          <div class="container mt-5">
            <div class="row">
              <div class="col-md-10">
                <h2 class="mb-4">Lista de Municipios</h2>
              </div>
              <div class="col-md-2 text-end d-flex align-items-start">
                {% if estadoFuncion == 'editar' %}
                    <a href="{% url 'municipio_create' %}" class="btn btn-secondary">Nuevo Municipio</a>
                {% elif estadoFuncion == 'crear' %}
                    <button id="toggleFormButton" class="btn btn-primary mb-3">Agregar Municipio</button>
                {% endif %}
              </div> 
              <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Identificación</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody class="table table-hover">
                        {% for municipio in municipios %}
                            <tr>
                                <td> {{ municipio.id_municipio }} </td>
                                <td> {{ municipio.nombre }} </td>
                                <td> {{ municipio.id_estado.nombre }} </td>
                                <td>
                                    <a href="{% url 'municipio_edit' municipio.id_municipio %}" class="btn btn-primary btn-sm editButton" data-id="{{ municipio.id_municipio }}">Editar</a>
                                    <a href="" class="btn btn-danger btn-sm editButton" data-id="{{ municipio.id_municipio }}">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            </div> 
          </div>
        </div> 
      </div>
      </div>
    </div>
  </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
      const formContainer = document.getElementById('estadoFormContainer');
      const toggleButton = document.getElementById('toggleFormButton');
      const editButtons = document.querySelectorAll('.editButton');

      // Mostrar el formulario si la URL contiene 'estado/editar' o 'estado/nuevo'
      const url = window.location.pathname;
      if (url.includes('/municipio/editar/')) {
          formContainer.style.display = 'block';
      }
      if (url.includes('/municipio/nuevo/')) {
          formContainer.style.display = 'none';
      }
      // Mostrar u ocultar el formulario al hacer clic en el botón "Agregar Estado"
      toggleButton.addEventListener('click', function() {
          if (formContainer.style.display === 'none' || formContainer.style.display === '') {
              formContainer.style.display = 'block';
          } else {
              formContainer.style.display = 'none';
          }
      });

      // Mostrar el formulario al hacer clic en el botón "Editar"
      editButtons.forEach(button => {
          button.addEventListener('click', function(event) {
              event.preventDefault();
              formContainer.style.display = 'block';
              const id = this.getAttribute('data-id');
              window.location.href = `{% url 'municipio_edit' 0 %}`.replace('0', id);
          });
      });
  });

  </script>
{% endblock %}























<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Municipios</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ Municipio_Form.as_p }}
    
        <button type="submit">Guardar</button>
    </form>

    <h1>Municipios</h1>
    <table>
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Estado</th>
        </thead>
        <tbody>
            {% for municipio in municipios %}
                <tr>
                    <td> {{ municipio.id_municipio }} </td>
                    <td> {{ municipio.nombre }} </td>
                    <td> {{ municipio.id_estado.nombre }} </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>